<div class="sidebar-nav">
    <div class="sidebar-section">
        <div class="section-title">MENU</div>
        <ul class="l1 list-unstyled section-content">
            <li>
                <a class="sideline" data-id="dashboards" data-click="toggle-section">
                    <i class="pull-right fa fa-caret-down icon-dashboards"></i>
                    <i class="zmdi zmdi-view-dashboard md-icon pull-left"></i>
                    <span class="title">
                        TRANSFERENCIAS <br />
                        INTERNACIONLES
                    </span>
                </a>
                <ul class="list-unstyled section-dashboards l2">
                    <li>
                        <a class="sideline" href="dashboards-analytics.html">
                            <span class="title">BANDEJA DE TRANSFERENCIAS</span>
                        </a>
                    </li>
                    <li>
                        <a class="sideline" href="dashboards-e-commerce.html">
                            <span class="title">FAVORITOS</span>
                        </a>
                    </li>
                    <li>
                        <a class="sideline" href="dashboards-finance.html">
                            <span class="title">REALIZAR TRANSFERENCIAS</span>
                        </a>
                    </li>
                    <li>
                        <a class="sideline" href="~/Home/TransferDemo">
                            <span class="title">TRANSFERENCIA DEMO</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="l1 list-unstyled section-content">
            <li>
                <a class="sideline" data-id="dashboards" data-click="toggle-section">
                    <i class="pull-right fa fa-caret-down icon-dashboards"></i>
                    <i class="zmdi zmdi-view-dashboard md-icon pull-left"></i>
                    <span class="title">
                        SEGURIDAD
                    </span>
                </a>
                <ul class="list-unstyled section-dashboards l2">
                    <li>
                        <a class="sideline" href="dashboards-analytics.html">
                            <span class="title">USUARIO</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
