<h2>Bandeja de Transferencias</h2>

<table class="table">
    <thead>
        <tr>
            <th>CODIGO DE TRANSACCION</th>
            <th>BANCO DESTINO</th>
            <th>NOMBRE REMITENTE</th>
            <th>BENEFICIARIO</th>
            <th>DOCUMENTO BENEFICIARIO</th>
            <th>MONTO</th>
            <th>MONEDA</th>
            <th>COMISION</th>
            <th>ESTADO TRANSFERENCIA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12454233</td>
            <td>NATIONAL DEVELOPMENT BANK</td>
            <td>PERICO PEREZ</td>
            <td>PEDRO DIAZ CARPIO</td>
            <td>65662313656897135</td>
            <td>18.000</td>
            <td>YUANES</td>
            <td>500</td>
            <td>CONFIRMADO</td>
        </tr>
        <tr>
            <td>32434563476563</td>
            <td>NATIONAL DEVELOPMENT BANK</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>PEDRO DIAZ CARPIO</td>
            <td>65662313656897135</td>
            <td>50.000,00</td>
            <td>$US</td>
            <td>189</td>
            <td>PENDIENTE</td>
        </tr>
    </tbody>
</table>



