<h2>Bandeja de Transferencias</h2>

<table class="table">
    <thead>
        <tr>
            <th>CODIGO DE TRANSACCION</th>
            <th>BANCO DESTINO</th>
            <th>NOMBRE REMITENTE</th>
            <th>BENEFICIARIO</th>
            <th>DOCUMENTO BENEFICIARIO</th>
            <th>MONTO</th>
            <th>MONEDA</th>
            <th>COMISION</th>
            <th>ESTADO TRANSFERENCIA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxx</td>
        </tr>
        <tr>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
            <td>yyyyyyyyyyyyyyy</td>
        </tr>
    </tbody>
</table>



