
@{
    ViewBag.Title = "TransferenciaExpress";
}

<h2>TransferenciaExpress</h2>

<fieldset>
    <legend>Iniciar transferencia:</legend>
    <form name="form" class="forms-basic">
        <div class="row">
            <div class="col-xs-12  col-xl-7">
                <div class="form-group floating-labels">
                    <select class="form-control" onchange="loadData()">
                        <option>Seleccione su Nro Cuenta</option>
                        <option>10024323736</option>
                        <option>10024578894</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xl-6">
                <div class="form-group">
                    <label for="balance">Saldo:</label>
                    <input id="balance" type="text" name="balance" value="" class="form-control" disabled>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset style="display:none" id="fieldBeneficiario">
    <legend>Destinatarios:</legend>
    <div class="row">
        <div class="col-xs-12" onclick="loadDataTransferencia(this)">
            <ul class="list-group activities">
                <li class="list-group-item">
                    <span class="text-xs pull-right">20.08.2017</span>
                    <span class="tag tag-success">Seleccionar</span>
                    <div class="clearfix">

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="text-bold">Cod. Banco</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="capitalize">DNABBWG10BF</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="text-bold">Banco Destino</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="capitalize">NATIONAL DEVELOPMENT BANK</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="text-bold">Beneficiario</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="capitalize">PEDRO DIAZ CARPIO</span>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</fieldset>

<fieldset style="display:none" id="fieldTransferencia">
    <legend>Transferencia:</legend>
    <form name="form" class="forms-basic">
        <div class="row">
            <div class="col-xs-12 col-xl-6">
                <div class="form-group">
                    <label for="Monto">Monto a Enviar</label>
                    <input id="Monto" type="number" name="Monto" value="" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-xl-6">
                <div class="form-group">
                    <label for="Monto">Moneda</label>
                    <select class="form-control" id="monedaDestino">
                        <option>BS</option>
                        <option>USD</option>
                        <option>YUAN</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xl-6">
                <div class="form-group">
                    <label for="Comision">Comision:</label>
                    <input id="Comision" type="text" name="Comision" value="500 USD" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xl-12">
                <div class="form-group">
                    <label for="Motivo">Motivo:</label>
                    <input id="Motivo" type="text" name="Motivo" value="" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xl-12">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#default-modal">
                    Confirmar Transferecia
                </button>
            </div>
        </div>
    </form>
</fieldset>


<div class="modal fade in" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="default-modalLabel" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="default-modalLabel">Confirmación de envío</h4>
            </div>
            <div class="modal-body">
                <p>
                    Esta seguro que desea realizar la tranferencia?
                </p>
                <p>
                    Si es así presiona guardar Cambios<br />
                    De no ser asi presione el boton cerrar
                </p>
                <p>
                    Una vez confirmada la transferencia pase por plataforma a recoger su factura por la comisión generada
                    Muchas gracias por su preferencia
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Guardar Cambios</button>
                <button type="button" class="btn btn-warning">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="favoritos-modal" tabindex="-1" role="dialog" aria-labelledby="default-modalLabel" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="default-modalLabel">Nuevo Favorito</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Favoritos")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="cerrarVentana()">Guardar Cambios</button>
                <button type="button" class="btn btn-warning" onclick="cerrarVentana()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section customscript
{


    <script type="text/javascript">

        $("#default-modal").hide();
        $("#favoritos-modal").hide();

        function loadData() {
            $("#balance").val("68.000,00 USD");
            $("#balance").addClass("text-balance-Bs");
            $("#fieldBeneficiario").show();
            return false;
        }

        function loadDataBeneficiario() {

            $("#CodBank").val("DNABBWG10BF");
            $("#BankName").val("NATIONAL DEVELOPMENT BANK");
            $("#NameDestinity").val("PEDRO DIAZ CARPIO");
            $("#DNIBeneficiario").val("65662313656897135");
            $("#cuentaDestino").val("6987653223");
            $("#DireccionBeneficiario").val("ZHIHUANG INTERNATIONAL IMP AND EXPTRADING CO., LIMITED OFICCE 3A-9");
            $("#TelefonoBeneficiario").val("+51 8755215045");
            $("#fieldTransferencia").show();
            showMessage("Servicio interno", "Luego de la seleccion del beneficiario, ingresamos los datos de la transaccion");
            return false;
        }

        function loadDataTransferencia(obj) {
            $("#fieldTransferencia").show();
            $(obj).css({
                "border-color": "#C1E0FF",//cambiar color
                "border-width": "1px",
                "border-style": "solid"
            });
        }

        function nuevoFavorito() {
            $("#favoritos-modal").show();
        }

        function cerrarVentana() {
            $("#favoritos-modal").hide();
        }
    </script>
}